In [5]:
import pandas as pd

def transform_excel(input_file, output_file):
    """
    Transform Excel data by combining the description and pages columns.
    
    Args:
        input_file (str): Path to the input Excel file
        output_file (str): Path to save the transformed Excel file
    """
    # Read the Excel file, skipping potential header issues
    # First, let's examine what's in the file
    df = pd.read_excel(input_file)
    
    print("First few rows of the dataframe:")
    print(df.head())
    
    # Try reading with header row at a different position
    df = pd.read_excel(input_file, header=2)  # Try reading with headers at row 3 (index 2)
    
    print("\nAfter specifying header row, columns are:")
    print(df.columns.tolist())
    
    # If we still don't have proper column names, we can try to identify columns by position
    pages_col_idx = 2  # Assuming PAGES is the 3rd column (index 2)
    description_col_idx = 3  # Assuming DESCRIPTION is the 4th column (index 3)
    
    # Create the transformed column
    if len(df.columns) > max(pages_col_idx, description_col_idx):
        # Get column names (whatever they may be)
        pages_col = df.columns[pages_col_idx]
        description_col = df.columns[description_col_idx]
        
        print(f"\nUsing column '{description_col}' for description and '{pages_col}' for pages")
        
        # Sample values to verify
        print("\nSample values from identified columns:")
        print(f"Description column first 3 values: {df[description_col].head(3).tolist()}")
        print(f"Pages column first 3 values: {df[pages_col].head(3).tolist()}")
        
        # Create the transformed column
        df['TRANSFORMED'] = df[description_col].astype(str).str.strip() + ', ' + df[pages_col].astype(str)
        
        # Save the transformed data to a new Excel file
        df.to_excel(output_file, index=False)
        print(f"\nTransformation complete! File saved as '{output_file}'")
    else:
        print("\nError: Could not identify the required columns by position.")

# Example usage
if __name__ == "__main__":
    input_file = "STATIONERY.xlsx"
    output_file = "Transformed_Stationery.xlsx"
    transform_excel(input_file, output_file)

First few rows of the dataframe:
  Unnamed: 0 Unnamed: 1 Unnamed: 2                   Unnamed: 3 Unnamed: 4  \
0        NaN        NaN        NaN                          NaN        NaN
1      CODES      NAME       PAGES     CATEGORY  (  NOTE BOOK )      PRICE
2      41100  Sushil A4         72     Single Line - NOTE BOOK          40
3      41119  Sushil A4         96     Single Line - NOTE BOOK          55
4      41101  Sushil A4        112     Single Line - NOTE BOOK          55

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8
0        NaN        NaN        NaN        NaN
1  DISCOUNT      STOCK      status      IMAGE
2          *       1000  Available        NaN
3          *       1000  Available        NaN
4          *       1000  Available        NaN

After specifying header row, columns are:
['CODES', 'NAME ', 'PAGES', '   CATEGORY  (  NOTE BOOK )', 'PRICE', 'DISCOUNT ', 'STOCK ', 'status', 'IMAGE']

Using column '   CATEGORY  (  NOTE BOOK )' for description and 'PAGES' for pages

Sample values from identified columns:
Description column first 3 values: [' Single Line - NOTE BOOK ', ' Single Line - NOTE BOOK ', ' Single Line - NOTE BOOK ']
Pages column first 3 values: [72, 96, 112]

Transformation complete! File saved as 'Transformed_Stationery.xlsx'

In [12]:
import pandas as pd

# Read the Excel file
file_path = "STATIONERY.xlsx"
df = pd.read_excel(file_path, sheet_name="Sheet1")

# Create a new column combining the 'CATEGORY (NOTE BOOK)' and 'PAGES' columns
df['Combined'] = df['CATEGORY (NOTE BOOK)'].astype(str) + ", " + df['PAGES'].astype(str) + " Pages "

# Optionally, if you wish to drop other columns or reorder, you can do so.
# For now, we will save the complete DataFrame with the new column.

# Write the transformed DataFrame to a new Excel file
output_file = "Transformed_STATIONERY.xlsx"
df.to_excel(output_file, index=False)

# Show the head of the DataFrame for verification
df.head(10)

,CODES,NAME,PAGES,CATEGORY (NOTE BOOK),PRICE,DISCOUNT,STOCK,status,IMAGE,Combined
0,41100,Sushil A4,72,Single Line - NOTE BOOK,40,*,1000,Available,NaN,"Single Line - NOTE BOOK , 72 Pages"
1,41119,Sushil A4,96,Single Line - NOTE BOOK,55,*,1000,Available,NaN,"Single Line - NOTE BOOK , 96 Pages"
2,41101,Sushil A4,112,Single Line - NOTE BOOK,55,*,1000,Available,NaN,"Single Line - NOTE BOOK , 112 Pages"
3,41129,Sushil A4,136,Single Line - NOTE BOOK,65,*,1000,Available,NaN,"Single Line - NOTE BOOK , 136 Pages"
4,41125,Sushil A4,160,Single Line - NOTE BOOK,75,*,1000,Available,NaN,"Single Line - NOTE BOOK , 160 Pages"
5,41118,Sushil A4,172,Single Line - NOTE BOOK,80,*,1000,Available,NaN,"Single Line - NOTE BOOK , 172 Pages"
6,41122,Sushil A4,192,Single Line - NOTE BOOK,90,*,1000,Available,NaN,"Single Line - NOTE BOOK , 192 Pages"
7,41128,Sushil A4,212,Single Line - NOTE BOOK,100,*,1000,Available,NaN,"Single Line - NOTE BOOK , 212 Pages"
8,41123,Sushil A4,236,Single Line - NOTE BOOK,110,*,1000,Available,NaN,"Single Line - NOTE BOOK , 236 Pages"
9,41113,Sushil A4,270,Single Line - NOTE BOOK,130,*,1000,Available,NaN,"Single Line - NOTE BOOK , 270 Pages"

In [11]:
import os
print(os.getcwd())

d:\AIB Innovations\Toonzkart\toonzkart-backend